

body {
  margin: 0;
  color: #706868;
  font-size: 14px;
  font-family: "Kanit",sans-serif;
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #f4f4f4;
  font-feature-settings: "tnum","tnum";
}
body, input {
  font-weight: 300;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#From.check{
  background-color: black;
}
#img1{
  text-align: left;
}
#col1{
  text-align:center;
  font-size: large;
}
#col0{
  text-align: center;
}
  #text0 {

   
  }
#col2{
  border-radius: 50%;
}
#but1{
  text-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 17px;
  background-color: rgb(224, 95, 95);
}

.box-container {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1200px;
}

.box-register {
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
}

.box-register .box-header  {
  color: #fff;
  height: 240px;
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #dbdbdb;
  background-size: cover;
  background-position: top;
}

.box-register .box-header h2 {
  color: inherit;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}



.box-login {
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
}



.box-login .box-header {
  color: #fff;
  height: 240px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #dbdbdb;
  background-size: cover;
  background-position: top;
}


.box-login .box-body {
  padding: 40px;
}



.primary-footer {
  background-color: #e21c23;
  padding: 24px;
  display: flex;
  z-index: 2;
}
.logo {
  background: none;
  margin: 0 24px 0 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.a {
  color: #e21c23;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color .3s;
  -webkit-text-decoration-skip: objects;
}
.img {
  width: 160px;
  height: auto;
  display: block;
}
.footer-menu-wrap {
  margin-left: auto;
}
.footer-menu {
  list-style: none;
  margin: 0 -12px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.footer-primary-menu {
  font-size: 16px;
  font-weight: 500;
}
.footer-menu li {
  padding: 0 12px;
}
.footer-menu li a {
  color: #fff;
}

.secondary-footer {
  background-color: #cb191f;
  padding: 16px 24px;
  display: flex;
  z-index: 2;
}
.socials {
  list-style: none;
  margin: 0 -8px;
  padding: 0;
  display: flex;
}
.socials li {
  padding: 0 8px;
  
}

.secondary-footer .column-menu {
  margin-left: auto;
}
.footer-secondary-menu {
  font-size: 16px;
}
.footer-menu li a {
  color: #fff;
}
.footer-menu li {
  padding: 0 12px;
}
.ant-space {
  display: inline-flex;
}
.secondary-footer .column-menu {
  margin-left: auto;
}
.socials li {
  padding: 0 8px;
}
.ant-space-align-center {
  align-items: center;
}
img {
  vertical-align: middle;
  border-style: none;
}
.ant-space {
  display: inline-flex;
}
.footer-menu {
  list-style: none;
  margin: 0 -12px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.ant-form-item-children {
  position: relative;
}
.box-register .gender-radio-group {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
}
.box-register .gender-radio-group .ant-radio-button-wrapper {
  line-height: 1.25;
  height: auto;
  margin: 0 8px;
  padding: 12px 32px;
  border-radius: 30px;
  border: 1px solid #d2d2d2;
  outline: none;
}
.ant-radio-button-wrapper>.ant-radio-button {
  display: block;
  width: 0;
  height: 0;
  margin-left: 0;
}
.box-register .gender-radio-group .ant-radio-button-wrapper {
  line-height: 1.25;
  height: auto;
  margin: 0 8px;
  padding: 12px 32px;
  border-radius: 30px;
  border: 1px solid #d2d2d2;
  outline: none;
}
.ant-form input, .ant-form input {
  line-height: normal;
}
.box-register .confirm-checkbox .ant-checkbox-inner, .box-register .confirm-checkbox .ant-checkbox:after {
  border-radius: 50%;
}
.form-check-label:hover {
  cursor: pointer;
}
.site-header {
  height: 72px;
  background-color: #fff;
  padding: 0 0 0 24px;
  box-shadow: 0 2px 15px rgba(0,0,0,.05);
  display: flex;
  position: fixed;
  width: 100%;
}
.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}
.logo {
  background: none;
  margin: 0 24px 0 0!important;
  height: 100%;
  display: flex;
  align-items: center;
}
a {
  color: #e21c23;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color .3s;
  -webkit-text-decoration-skip: objects;
}
.logo svg{
  width: 105px;
  display: block;
}
.header-right {
  margin-left: auto;
}
.header-actions {
  display: flex;
}
.ant-space-align-center {
  align-items: center;
}
.ant-space {
  display: inline-flex;
}
.header-location-menu {
  border-right: 1px solid #f4f4f4;
}
.header-user-menu >.ant-menu-item, .header-user-menu >.ant-menu-submenu {
  margin-top: 0;
  border-bottom: none;
}
.header-user-menu >.ant-menu-submenu .ant-menu-submenu-title {
  padding-left: 24px;
  padding-right: 24px;
}
.ant-menu-item, .ant-menu-submenu-title {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 20px;
  white-space: nowrap;
  cursor: pointer;
  transition: color .3s cubic-bezier(.645,.045,.355,1),border-color .3s cubic-bezier(.645,.045,.355,1),background .3s cubic-bezier(.645,.045,.355,1),padding .15s cubic-bezier(.645,.045,.355,1);
}
.header-user-menu >.ant-menu-item {
  padding-left: 28px;
  padding-right: 28px;
}
.header-user-menu >li {
  font-size: 18px;
  font-weight: 400;
  top: 0;
  line-height: 72px;
  border-left: 1px solid #f4f4f4;
}
.ant-menu-horizontal>.ant-menu-item>a {
  display: block;
  color: #787878;
}
.menu-title-wrapper {
  display: flex;
  align-items: center;
}
.header-button {
  min-width: 140px;
}
a.ant-btn, a.ant-btn-lg {
  line-height: 46px;
}
.ant-space-align-center {
  align-items: center;
}
.ant-space {
  display: inline-flex;
}
.header-user-menu >.ant-menu-submenu .ant-menu-submenu-title {
  padding-left: 24px;
  padding-right: 24px;
}
.ant-menu-horizontal {
  line-height: 46px;
  white-space: nowrap;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: none;
}
.header-button {
  min-width: 140px;
}

a.ant-btn, a.ant-btn-lg {
  line-height: 46px;
}
a.ant-btn {
  padding-top: .1px;
}
.ant-btn, .ant-btn:active, .ant-btn:focus {
  outline: 0;
}
.ant-btn {
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 300;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  box-shadow: 0 2px 0 rgba(0,0,0,.015);
  cursor: pointer;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 48px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 50px;
  color: #e21c23;
  background-color: #fff;
  border: 1px solid #e21c23;
}
.ant-btn-primary {
  color: #fff;
  background-color: #e21c23;
  border-color: #e21c23;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.045);
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.header-location-menu {
  border-right: 1px solid #f4f4f4;
}
.ant-menu-horizontal {
  line-height: 46px;
  white-space: nowrap;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: none;
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol, ul {
  padding-left: 2rem;
}
.ant-menu {
  box-sizing: border-box;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  font-feature-settings: "tnum","tnum";
  margin: 0;
  padding: 0;
  color: #787878;
  line-height: 0;
  list-style: none;
  background: #fff;
  outline: none;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  transition: background .3s,width .3s cubic-bezier(.2,0,0,1) 0s;
  zoom: 1;
}

#page {
  min-height: 100vh;
  background-color: #fff;
}

.site-body {
  margin-top: 72px;
}

.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: #f0f2f5;
}
.ant-layout, .ant-layout * {
  box-sizing: border-box;
}
.ant-layout-content {
  flex: auto;
  min-height: 0;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.page-banner{
  position: relative;
}

.banner-wrap {
  color: #fff;
  padding: 100px 0;
  background-image: linear-gradient(180deg,#ff807c,#fd4b47);
}

.page-banner .ribbon {
  position: absolute;
  right: 0;
  bottom: 32px;
  min-width: 160px;
  z-index: 5;
}

.container, .container-fluid {
  padding: 0 24px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}

.ant-spin-nested-loading {
  position: relative;
}

.ant-spin-container {
  position: relative;
  transition: opacity .3s;
}

.ant-row-flex-middle {
  align-items: center;
}
.ant-row-flex {
  display: flex;
  flex-flow: row wrap;
}


.banner-wrap .banenr-content .heading {
  color: inherit;
  font-size: 50px;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0;
}

.banner-wrap .banenr-content .content {
  font-size: 20px;
  line-height: 1.2;
  margin-top: 24px;
}


.banner-wrap .banenr-content .action  {
  margin-top: 48px;
}

.banner-wrap .to-delivery-wrapper .image-btn-en  {
  width: 100%;
  height: 82px;
  content: url('./images/button/EN_normal.svg');
}
page-banner .ribbon {
  position: absolute;
  right: 0;
  bottom: 32px;
  min-width: 160px;
  z-index: 5;
}
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}




























